html {
  font-family: serif;
}

.photo {
  width: 300px;
}

#outline{
width: 300px;
height: 600px;
border: 1px solid #d3d3d3;
margin: 10px;
padding: 10px;
box-shadow: 5px 5px #C0C0C0;
}

#description {
  border: 1px solid #d3d3d3;
  padding: 10px;
}

.em {
  font-weight: bold;
}

ul {
  list-style:none;
  padding: 0px;
}

.fact {
  font-style: italic;
}
